.wrapper {
  display: flex;
  align-items: center;
  padding: 14px 0;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.container {
  position: relative;
}

.logo {
  font-weight: 600;
  margin-left: 80px;
  img{
    height:70px;
    width: 70px;
  }
}

.search-wrapper {
  margin-left: 8px;
  width: 57%;
}

.icon-wrapper {
  width: 448px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  svg {
    width: 27px;
    height: 27px;
  }
  span {
    padding-left: 5px;
    white-space: nowrap;
  }

  .loginBtn {
    background-color: var(--primary-color) !important;
    box-shadow: none !important;
    font-size: 1.2rem !important;
    text-transform: none !important;

    &:hover {
      opacity: 0.8;
    }
  }

  .signUpBtn {
    color: var(--white-color) !important;
    border-color: var(--white-color) !important;
    box-shadow: none !important;
    font-size: 1.2rem !important;
    text-transform: none !important;

    &:hover {
      opacity: 0.8;
    }
  }
}
