.container {
  min-height: 200px;
  width: 90vw;
  background-color: var(--white-color);
  border-radius: 3px;
}

.item-left,
.item-right {
  padding: 16px;
}

.main-img-wrap {
  position: relative;

  button {
    background-color: #e7e8ea !important;
    border-radius: 3px !important;
    padding: 8px !important;
    box-shadow: none !important;
    border: none !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #d5d6d9 !important;
    }

    svg {
      width: 20px;
      color: #000;
    }
  }

  .heart-btn {
    position: absolute;
    bottom: 4px;
    right: 0;
  }

  .share-btn {
    position: absolute;
    bottom: 4px;
    right: 46px;
  }
}

.img-main {
  width: 100%;
  height: 45rem;

  object-fit: cover;
  object-position: center;
}

.carousel-container {
  margin-top: 10px;
}

.carousel {
  img {
    width: 80px;
    height: 80px;
  }
}

//right
.heading {
  p {
    color: #000;
    font-size: 2rem;
  }
}

.price-wrap {
  margin-top: 20px;

  .sale-price {
    font-size: 2.4rem;
    color: var(--primary-color);
    font-weight: 600;
  }
}

.origin-price-wrapp {
  display: flex;

  p {
    text-decoration: line-through;
    color: #b7bbbf;
    margin-right: 4px;
  }

  span {
    color: var(--primary-color);
  }
}

.comment-wrap {
  margin-top: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.feedBack-star {
  svg {
    width: 14px;
    height: 14px;
    color: #ffc600;
  }
}

.comment-wrap {
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    svg {
      width: 14px;
      height: 100%;
    }

    p {
      margin-top: 3px;
      margin-left: 2px;
    }
  }
}

.sale-code-wrap {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;

  span {
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: #fbebed;
    color: #d0011b;
    height: 24px;
    border: 1px dashed red;
    cursor: pointer;
  }
}

.add-wrap {
  margin-top: 16px;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;

  button {
    background-color: #e7e8ea !important;
    border-radius: 4px !important;
    padding: 4px 12px !important;
    box-shadow: none !important;
    border: none !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  input {
    border: 1px solid #ddd;
    padding: 7px;
    width: 38px;
    border-radius: 4px;
    height: 100%;
    text-align: center;
    margin: 0 4px;
  }
}

.button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;

  .btn-pay {
    width: 49%;
    cursor: pointer;
    padding: 12px 0;
    border-radius: 3px;

    &:hover {
      opacity: 0.9;
    }

    button {
      width: 100%;
      cursor: pointer;
      padding: 12px 0;
      border-radius: 3px;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.address-wrap {
  margin-top: 30px;

  h4 {
    color: #000;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
}

.address-container {
  display: flex;
  justify-content: space-between;

  button {
    background-color: transparent;
    font-size: 1.4rem;
    border: none;
    color: rgba(70, 134, 255, 0.95);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
