.wrapper {
    color: var(--black-color);

}

.title-wrap {
 

    p{
        display: flex;
        align-items: center;
        font-weight: 300;
        margin: 0.6rem 0 1.2rem 0;
        svg {
            margin-right: 0.2rem;
        }
    }

    h3 {
        font-style: italic;
    }
}

.content {
    margin-top: 1.2rem;
    img {
        width: 100%;
        object-fit: contain;
    }
}

.new-blog-wrap {
    margin-left: 0.8rem !important;
    border-left: 1px solid var(--border-color);
    background-color: var(--white-color);
    h3 {
      padding-top: 1rem;
      font-size: 2rem;
      border-bottom: 3px solid var(--primary-color);
      color: var(--primary-color);
      text-align: center;
    }
    .news {
      display: flex;
      padding: 10px;
      cursor: pointer;
      img {
        height: 60px;
        width: 85px;
      }
      p {
        font-weight: 600;
        padding-left: 1rem;
        color: var(--black-color);
        font-size: 1.2rem;
        height: 9em;
        overflow: hidden;
      }
      &:hover {
        background-color: #53b17536;
      }
    }
}